<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592432323021-af4ggbi73cio5p9f5mqvljel0q09f4jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592432323021-af4ggbi73cio5p9f5mqvljel0q09f4jg</string>
	<key>API_KEY</key>
	<string>AIzaSyDPEKEK3_dV-Ha0Egj_f1kb-2h9W-8g2zA</string>
	<key>GCM_SENDER_ID</key>
	<string>592432323021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnthonyPolka.Hackathon</string>
	<key>PROJECT_ID</key>
	<string>safety-manager-ecd09</string>
	<key>STORAGE_BUCKET</key>
	<string>safety-manager-ecd09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592432323021:ios:6ff98edcb8438c3f480c84</string>
	<key>DATABASE_URL</key>
	<string>https://safety-manager-ecd09-default-rtdb.firebaseio.com</string>
</dict>
</plist>